body {
    position: absolute;
    height: 96%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

.flex-container {
    display: flex;
    flex: 1;
}

.flex-cell {
    flex: 1;
    padding: 0.5em;
}

.flex-cell > * {
    height: 100%;
}

.icons-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
}

#button-calibrate {
    margin-left: 2em;
}
